<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light"
  style="box-shadow:0 2px 5px 0 rgba(0,0,0,0.1);">
    <img [routerLink]="['/adminpage']" src="../../avanthika.png" height="55px" style="cursor: pointer; outline: none; border-radius: 50%; border: 1px solid #cecece; border-radius: 50%; margin-right: 10px;"/>
    <a class="navbar-brand" [routerLink]="['/adminpage']">Avanthika Collections</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['/adminpage']">Home <span class="sr-only">(current)</span></a>
        </li>
        
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Products
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" [routerLink]="['/adminpage/uploadproduct']" style="cursor: pointer;">Upload Product</a>
            <a class="dropdown-item" [routerLink]="['/adminpage/products']" style="cursor: pointer;">View All Products</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item">Something else here</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/adminpage/orders']">Orders</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <button class="btn btn-danger" (click)="openDialog()">Logout</button>
      </form>
    </div>
  </nav>
</header>

<ng-template #myTemplate>
  <div class="confirm-modal-body text-center p-30">
    <h2 style="font-size: 21px;">Do you want to Log out?</h2>
  </div>
  <div class="modal-footer">
    <button type="button" mat-raised-button style="outline: none;" [mat-dialog-close]="false">No, Cancel</button>
    <button type="button" mat-raised-button color="warn" style="outline: none;" (click)="logout()" [mat-dialog-close]="false">Yes, Logout</button>
  </div>
</ng-template>

<!-- Loading div starts -->
<div id="loaderDiv" *ngIf="loading">
  <img src="../../assets/loader-gif.gif" id="loader" />
</div>
<!-- Loading div ends -->