/* You can add global styles to this file, and also import other style files */
@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

#loaderDiv {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: white;
  opacity: 0.6;
  z-index: 99;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#loader {
  width: 250px;
  background-repeat: no-repeat;
  background-position: center;
}
